.main__project{
    min-height: 100vh;
    width: 100%;    
    border-radius: 30px;  
    padding-left: 20px;  
    padding-top: 6vw ;
   
}
.project__heading{
   
    display: flex;
}

.main__project h1{
    font-family: asik;
    letter-spacing: 2px;
    font-size: 5vw;
}
.main__project h1 span{
    color: rgb(132, 0, 255);
}
