.main__project {
  min-height: 100vh;
  width: 100%;
  border-radius: 30px;
  padding-top: 6vw;
}
.project__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.project__heading__left {
  position: absolute;
  top: 19%;
  left: 28%;
  font-family: medium;
  font-size: 0.6vw;
  line-height: 110%;
  letter-spacing: 3px;
  color: #ff0404;
}
.project__heading__up {
  position: absolute;
  top: 19%;
  right: 28%;
  font-family: medium;
  font-size: 0.6vw;
  line-height: 110%;
  letter-spacing: 3px;
  color: #ff0404;
}
.project__heading__down {
  position: absolute;
  bottom: 18%;
  right: 25%;
  font-family: medium;
  font-size: 0.6vw;
  letter-spacing: 3px;
  color: #ff0404;
}

.main__project h1 {
  font-family: longbold;
  letter-spacing: 5px;
  font-size: 15vw;
}
