.cursor {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/mouseimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0%;
  left: 0%;
  z-index: 999;
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  pointer-events: none;
  transition: transform 0.1s ease;
}

.cursor h1 {
  font-size: 2.5px;
  font-family: neuo;
  letter-spacing: 0;
  line-height: 1.06;
}
