.cursor {
  width: 2vh;
  height: 2vh;
  background-color: #ff0404;
  top: 0%;
  left: 0%;
  z-index: 999;
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  pointer-events: none;
  transition: transform 0.1s ease;
  padding-left: 2.5px;  
  padding-top: 2px;
}
.cursor h1 {
  font-size: 2.5px;
  font-family: neuo;
  letter-spacing: 0;
  line-height: 1.06;
}
