.main__navbar {
  height: 40vh;
  width: 100%;
}

.navbar__heading {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.animated__headline {
  width: 100%;
  height: 16vh;
  overflow: hidden;
}
.animated__headline h1 {
  font-size: 8.5vw;
  font-family: asik;
  color: #141511;
  letter-spacing: 3px;
}
.navbar__heading h6 {
  font-family: medium;
  margin-top: 10px;
  font-size: 0.6vw;
  color: #ff0404;
  letter-spacing: 4.2vw;
}

.Navbar__content {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #141511;
  font-family: medium;
  font-size: 0.7vw;
  padding: 0 20px;
}

.Navbar__content h4 {
  letter-spacing: 0.15vw;
  width: 20vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
}

.Navbar__content h4:hover {
  color: #e63323;
  transition: 0.3s linear;
  scale: 1.1;
}
