@font-face {
  font-family: asik;
  src: url("./fonts/ASIX-FOUNDER.otf");
}
@font-face {
  font-family: medium;
  src: url("./fonts/Medium.otf");
}
@font-face {
  font-family: abc;
  src: url(./fonts/abcfavorit-book.ttf);
}
@font-face {
  font-family: longbold;
  src: url(./fonts/longbold.ttf);
}
@font-face {
  font-family: neuo;
  src: url(./fonts/neuo.otf);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  cursor: none;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #ecede9;
  scroll-behavior: smooth;
}

::selection {
  background-color: salmon;
  color: rgb(58, 14, 7);
}
